{{#section 'head'}}
	<!-- we want Google to ignore this page -->
	<meta name="robots" content="noindex">
{{/section}}

<h1>Test Page</h1>
<div>
	<h1>Test Page</h1>
</div>
<p>We're testing some jQuery stuff.</p>

{{#section 'jquery'}}
	<script>
		$('document').ready(function(){
			$('div h1').html('jQuery Works');
		});
	</script>
{{/section}}
